* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #ece5d5;
}
/* Start of gallery code */
.gallery {
  column-count: 4;
  gap: 10px;
  max-width: 80%;
  background-color: white;
 margin-top: 5rem;
 margin-bottom: 10rem;
  padding: 3rem;
}
.gallery img {
  grid-row: 1 / -1;
  grid-column: 1;
  max-width: 100%;
  transition: all 1.5s ease;
}

.gallery .content {
  padding: 5px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}

/* wave */
svg {
  width: 100%;
  position: absolute;
  margin-top: -5rem;
}

.sections {
  margin-top: auto;
}
.section_image {
width: 25%;
}

/* big quote */
.quote_bg {
  background-color:#333a2b;
  margin-top: -20px;
  height: 100vh;
  color: white;
  font-family: "raleway", sans-serif;
}

/* bg image with 4 sections */

.bg-img-section {
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919170/ecofurn/gallery/recycle_tuswtf.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.fg {
  width: 25rem;
  height: 35rem;
  background-attachment: fixed;
  background-size: cover;
}

.fg1 {
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919168/ecofurn/gallery/bg1_wvbczp.jpg");
}
.fg2 {
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919168/ecofurn/gallery/bg2_euuso3.jpg");
}
.fg3 {
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919170/ecofurn/gallery/bg3_nt4jvj.jpg");
}
.fg4 {
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919173/ecofurn/gallery/bg4_iozwup.jpg");
}

/* split parallax */

.split-parallax{
  font-family: 'Headland One', serif;
  display: flex;
}

#env-head{
  background-image: url("https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919170/ecofurn/gallery/man_v07khz.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-split{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 40px;
  color: #fffedf;
}

.scroll-split{
  width:50%;
  color: #ece5d5;
}

.scroll-split div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll-split div > h2 {
  width: 80%;
  text-align: center;
  font-size: 40px;
}

.scroll-split div:nth-child(1){
  background-image: url('https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919177/ecofurn/gallery/blue_xuvtkq.jpg');
  width: 100%;
  height: 100vh;
  color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.scroll-split div:nth-child(2){
  background-image: url('https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919169/ecofurn/gallery/fabric_lfxbcl.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.scroll-split div:nth-child(3){
  background-image: url('https://res.cloudinary.com/dxib7u6wq/image/upload/v1684919169/ecofurn/gallery/wood_tnvkr7.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

/* FOOTER MARGIN */
footer{
  margin-top: 0 !important;
}

/* SVG WAVE ANIMATIONS */
.path-0 {
  animation: pathAnim-0 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,233 0,233 C 71.7155616626589,188.4943318447269 143.4311233253178,143.98866368945377 204,157 C 264.5688766746822,170.01133631054623 313.9910683613878,240.53967708691175 375,269 C 436.0089316386122,297.46032291308825 508.6046032291308,283.85262796289936 580,261 C 651.3953967708692,238.14737203710064 721.5905187220887,206.04981106149089 805,200 C 888.4094812779113,193.95018893850911 985.0333218825147,213.9481277911371 1053,225 C 1120.9666781174853,236.0518722088629 1160.2761937478529,238.15767777396084 1220,238 C 1279.7238062521471,237.84232222603916 1359.8619031260737,235.4211611130196 1440,233 C 1440,233 1440,700 1440,700 Z"
    );
  }

  25% {
    d: path(
      "M 0,700 C 0,700 0,233 0,233 C 80.45551356922019,259.73857780831327 160.91102713844037,286.4771556166266 220,258 C 279.0889728615596,229.5228443833734 316.81140501545855,145.82995534180696 379,163 C 441.18859498454145,180.17004465819304 527.8433527997252,298.20302301614566 617,308 C 706.1566472002748,317.79697698385434 797.8151837856407,219.35795259361043 853,208 C 908.1848162143593,196.64204740638957 926.8959120577122,272.3651666094126 992,277 C 1057.1040879422878,281.6348333905874 1168.6011679835105,215.18138096873926 1251,196 C 1333.3988320164895,176.81861903126074 1386.6994160082447,204.90930951563035 1440,233 C 1440,233 1440,700 1440,700 Z"
    );
  }

  50% {
    d: path(
      "M 0,700 C 0,700 0,233 0,233 C 81.35211267605635,223.40398488491928 162.7042253521127,213.80796976983856 220,224 C 277.2957746478873,234.19203023016144 310.5352112676056,264.1721058055651 378,272 C 445.4647887323944,279.8278941944349 547.1549295774648,265.5036070079011 618,272 C 688.8450704225352,278.4963929920989 728.8450704225351,305.81346616283065 800,303 C 871.1549295774649,300.18653383716935 973.4647887323945,267.24252834077635 1047,238 C 1120.5352112676055,208.75747165922365 1165.2957746478871,183.2164204740639 1226,183 C 1286.7042253521129,182.7835795259361 1363.3521126760565,207.89178976296805 1440,233 C 1440,233 1440,700 1440,700 Z"
    );
  }

  75% {
    d: path(
      "M 0,700 C 0,700 0,233 0,233 C 78.39642734455512,205.37444177258675 156.79285468911024,177.74888354517347 228,179 C 299.20714531088976,180.25111645482653 363.22500858811406,210.3789075918928 432,210 C 500.77499141188594,209.6210924081072 574.3071109584336,178.73548608725525 631,167 C 687.6928890415664,155.26451391274475 727.5465475781518,162.6791480590862 794,180 C 860.4534524218482,197.3208519409138 953.506698728959,224.5479216763999 1030,232 C 1106.493301271041,239.4520783236001 1166.4266575060117,227.1291652353143 1232,224 C 1297.5733424939883,220.8708347646857 1368.786671246994,226.93541738234285 1440,233 C 1440,233 1440,700 1440,700 Z"
    );
  }

  100% {
    d: path(
      "M 0,700 C 0,700 0,233 0,233 C 71.7155616626589,188.4943318447269 143.4311233253178,143.98866368945377 204,157 C 264.5688766746822,170.01133631054623 313.9910683613878,240.53967708691175 375,269 C 436.0089316386122,297.46032291308825 508.6046032291308,283.85262796289936 580,261 C 651.3953967708692,238.14737203710064 721.5905187220887,206.04981106149089 805,200 C 888.4094812779113,193.95018893850911 985.0333218825147,213.9481277911371 1053,225 C 1120.9666781174853,236.0518722088629 1160.2761937478529,238.15767777396084 1220,238 C 1279.7238062521471,237.84232222603916 1359.8619031260737,235.4211611130196 1440,233 C 1440,233 1440,700 1440,700 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 45.06286499484713,487.39196152524903 90.12572998969426,508.78392305049806 167,512 C 243.87427001030574,515.2160769495019 352.55994503607013,500.25626932325656 424,494 C 495.44005496392987,487.74373067674344 529.6344898660254,490.1909996564755 604,469 C 678.3655101339746,447.8090003435245 792.9020954998283,402.97973205084156 855,417 C 917.0979045001717,431.02026794915844 926.7571281346616,503.8900721401581 991,506 C 1055.2428718653384,508.1099278598419 1174.0693919615253,439.4599793885262 1258,421 C 1341.9306080384747,402.5400206114738 1390.9653040192375,434.2700103057369 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }

  25% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 88.47131569907248,501.0656131913432 176.94263139814495,536.1312263826864 240,523 C 303.05736860185505,509.86877361731365 340.70079010649255,448.5407076605978 394,412 C 447.29920989350745,375.4592923394022 516.2542081758847,363.7059429749227 597,380 C 677.7457918241153,396.2940570250773 770.282377189969,440.6355204397114 834,455 C 897.717622810031,469.3644795602886 932.6162830642393,453.7519752662315 998,430 C 1063.3837169357607,406.2480247337685 1159.2524905530745,374.3565784953624 1238,379 C 1316.7475094469255,383.6434215046376 1378.3737547234628,424.82171075231884 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }

  50% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 64.36070079010648,444.87186533837166 128.72140158021296,423.7437306767434 195,444 C 261.27859841978704,464.2562693232566 329.47509446925454,525.8969426313981 395,538 C 460.52490553074546,550.1030573686019 523.3782205427689,512.6684987976641 593,482 C 662.6217794572311,451.3315012023359 739.0120233596703,427.4290621779457 808,419 C 876.9879766403297,410.5709378220543 938.5736860185502,417.61525249055313 1002,439 C 1065.4263139814498,460.38474750944687 1130.6932325661285,496.109927859842 1204,503 C 1277.3067674338715,509.890072140158 1358.6533837169359,487.945036070079 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }

  75% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 68.74476125042943,463.6626588801099 137.48952250085887,461.3253177602199 200,484 C 262.51047749914113,506.6746822397801 318.7866712469941,554.3613878392305 395,543 C 471.2133287530059,531.6386121607695 567.3637925111645,461.22913088285816 635,421 C 702.6362074888355,380.77086911714184 741.7581587083478,370.72208862933695 794,391 C 846.2418412916522,411.27791137066305 911.6035726554449,461.8825145997939 990,469 C 1068.3964273445551,476.1174854002061 1159.8275506698728,439.7478529714874 1237,432 C 1314.1724493301272,424.2521470285126 1377.0862246650636,445.1260735142563 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }

  100% {
    d: path(
      "M 0,700 C 0,700 0,466 0,466 C 45.06286499484713,487.39196152524903 90.12572998969426,508.78392305049806 167,512 C 243.87427001030574,515.2160769495019 352.55994503607013,500.25626932325656 424,494 C 495.44005496392987,487.74373067674344 529.6344898660254,490.1909996564755 604,469 C 678.3655101339746,447.8090003435245 792.9020954998283,402.97973205084156 855,417 C 917.0979045001717,431.02026794915844 926.7571281346616,503.8900721401581 991,506 C 1055.2428718653384,508.1099278598419 1174.0693919615253,439.4599793885262 1258,421 C 1341.9306080384747,402.5400206114738 1390.9653040192375,434.2700103057369 1440,466 C 1440,466 1440,700 1440,700 Z"
    );
  }
}


/* MEDIA QUERY FOR WAVE MARGIN */
@media screen and (max-width: 820px) {
  .gallery {
    column-count: 3;
  }
  svg {
    margin-top: -10rem;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
  svg {
    margin-top: -15rem;
  }
}



